.Text {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;

  &-size-8 {
    font-size: toRem(8px);
  }

  &-size-10 {
    font-size: toRem(10px);
  }

  &-size-12 {
    font-size: toRem(12px);
  }

  &-size-14 {
    font-size: toRem(14px);
  }

  &-size-16 {
    font-size: toRem(16px);
  }

  &-size-18 {
    font-size: toRem(18px);
  }

  &-size-20 {
    font-size: toRem(20px);
  }

  &-size-24 {
    font-size: toRem(24px);
  }

  &-weight-400 {
    font-weight: 400;
  }

  &-weight-500 {
    font-weight: 500;
  }

  &-color-white {
    color: var(--text-white);
  }

  &-color-black {
    color: var(--text-black);
  }

  &-color-gray {
    color: var(--muted-foreground);
  }

  &-color-green {
    color: var(--text-green);
  }

  &-color-blue {
    color: var(--text-blue);
  }

  &_align-left {
    text-align: left;
  }

  &_align-center {
    text-align: center;
  }

  &_align-right {
    text-align: right;
  }
}