.Avatar {
  border-radius: 9999px;
  border-width: 4px;
  border-style: solid;
  overflow: hidden;
  border-color: rgba(255, 255, 255, 0.3);

  &-size-72 {
    width: toRem(72px);
    height: toRem(72px);
  }

  img {
    width: 100%;
    height: 100%;
  }
}