.Card {
  padding: toRem(16px);
  background-color: var(--card);
  border: 1px solid var(--border);
  width: 100%;
  border-radius: toRem(8px);

  &_button {
    cursor: pointer;
    border-width: toRem(2px);
    border-style: solid;
    border-color: transparent;
    transition: $transition;

    &-green {
      &:hover {
        border-color: var(--border-green);
      }

      &:active {
        border-color: var(--border-green);
        transform: scale(0.97);
      }
    }

    &-blue {
      &:hover {
        border-color: var(--border-blue);
      }

      &:active {
        border-color: var(--border-blue);
        transform: scale(0.97);
      }
    }
  }
}