.ProductChart {
  width: 100%;
  height: toRem(265px);
}


.ProductChartChart {
  width: 100%;
  max-width: 100%;
  overflow: visible;
  height: toRem(200px);

  svg {
    outline: none;
  }

  svg:focus {
    outline: none;
  }
}

.ProductChartGrid {
  stroke: var(--muted-foreground)
}

.ProductChartGridAxis {
  stroke: var(--muted-foreground)
}