.Icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }

  * {
    transform-origin: center;
    transform-box: fill-box;
  }

  &RepaintStroke {
    * {
      &[stroke] {
        stroke: currentColor;
      }
    }

  }

  &RepaintFill {
    * {
      &[fill] {
        fill: currentColor;
      }
    }
  }
}
