html[data-theme='light'] {
  --background: #ffffff;
  --primary: #ffffff;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --select: #f3f3f5;
  --select-menu: #f3f3f5;

  --border: rgba(0, 0, 0, 0.1);
  --border-green: oklch(79.2% 0.209 151.711);
  --border-blue: oklch(70.7% 0.165 254.624);

  --ring: oklch(0.700 0 0);
  --card: #ffffff;

  --blue: oklch(54.6% 0.245 262.881);

  --profile-gradient: linear-gradient(to bottom right, #3b82f6, #0891b2);

  --gradient-orange: linear-gradient(
                  to bottom right,
                  #f59e0b, /* amber-500 */
                  #ea580c  /* orange-600 */
  );
  --gradient-blue: linear-gradient(
                  to bottom right,
                  #3b82f6, /* blue-500 */
                  #0891b2  /* cyan-600 */
  );

  --gradient-pink: linear-gradient(
                  to bottom right,
                  #a855f7, /* purple-500 */
                  #db2777  /* pink-600 */
  );

  --gradient-green: linear-gradient(
                  to bottom right,
                  #22c55e, /* green-500 */
                  #059669  /* emerald-600 */
  );

  // text colors
  --text-white: #ffffff;
  --text-black: oklch(0.145 0 0);
  --text-green: oklch(62.7% 0.194 149.214);
  --text-blue: oklch(42.4% 0.199 265.638);

  --badge-blue:oklch(97% 0.014 254.604);

}