@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../../assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}